.profileEducationWrapper {
    text-align: center;
    .education1 {
        .education1Title {
            font-weight: bold;
        }
        .education1Value {
            margin-left: 20px;
        }
    }
}