.profileInterestsWrapper {
    text-align: center;
    .interests1 {
        text-align: left;
        margin-left: 220px;
    }
}

&:hover {
    background: rgb(224, 232, 234);;
    cursor: pointer;
}