.profileDigitalSkillsWrapper {
    text-align: center;
    .digitalSkills1 {
        .digitalSkills1Title {
            font-weight: bold;
        }
        .digitalSkills1Value {
            margin-left: 20px;
        }
    }
    .digitalSkills2 {
        .digitalSkills2Title {
            font-weight: bold;
        }
        .digitalSkills2Value {
            margin-left: 20px;
        }
    }
    .digitalSkills3 {
        .digitalSkills3Title {
            font-weight: bold;
        }
        .digitalSkills3Value {
            margin-left: 20px;
        }
    }
    .digitalSkills4 {
        .digitalSkills4Title {
            font-weight: bold;
        }
        .digitalSkills4Value {
            margin-left: 20px;
        }
    }
}

&:hover {
    background: rgb(224, 232, 234);;
    cursor: pointer;
}