.profileExpirienceWrapper {
    text-align: center;
    .Experience{
        .experience1 {
            .experience1Title {
                font-weight: 700;
            }
            .experience1Value {
                margin-left: 20px;
            }
        }
    }
}