.profileExpirienceWrapper {
    text-align: center;
    .experience1 {
        .experience1Title {
            font-weight: 600;
        }
    }

    .experience2 {
        .experience2Title {
            font-weight: 600;
        }
    }

    .experience3 {
        .experience3Title {
            font-weight: 600;
        }
    }

    .experience4 {
        .experience4Title {
            font-weight: 600;
        }
    }
}