.profileExpirienceWrapper {
    text-align: center;
    .experience1 {
        .experience1Title {
            font-weight: 600;
        }
    }
}

&:hover {
    background: rgb(224, 232, 234);;
    cursor: pointer;
}