.profileHeaderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileHeader {
        background-color:rgb(224, 232, 234);
        padding: 20px;
        z-index: 2;
        position: relative;
        top: -2px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
    }
}