.profileLanguageSkillsWrapper {
    text-align: center;
    .languageSkills1 {
        .languageSkills1Value {
            margin-left: 20px;
            font-weight: bold;
        }
    }
    .languageSkills2 {
        .languageSkills2Value {
            margin-left: 20px;
            font-weight: bold;
        }
    }
}

&:hover {
    background: rgb(224, 232, 234);;
    cursor: pointer;
}